[submodule "ApplePieSyringe"]
	path = ApplePieSyringe
	url = https://github.com/Xwaffle1/ApplePieSyringe.git
[submodule "RoboApplePie"]
	path = RoboApplePie
	url = https://github.com/Xwaffle1/RoboApplePie.git
